<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <title>LectureLine</title>
</head>
<body>
<header>
    <h1>LectureLine</h1>
    <div class="nav">
        <!--get keresek-->

        <a href="/main">Előadások</a>
        <% if (user) { %>
            <a href="/profile-auth">Profil</a>

        <% } else { %>
            <a href="/login-view">Bejelentkezés</a>
        <% } %>
    </div>
</header>
